footer.general.content
    .divider
        span.dashed
    // footer-text
    .footer-text
        p Nunc quis lacus dictum, viverra dui non, ultrices risus. Nunc id risus non ante dictum pharetra quis non sem. Nullam vestibulum enim at dolor consequat, sed vulputate mauris interdum. Phasellus interdum sem sed laoreet volutpat. Nullam mollis eros eu mi lacinia, non tincidunt enim finibus. Suspendisse tempor tellus dolor, eu feugiat lacus suscipit posuere. 
    // footer-form
    .footer-form
        form(action="/",method="POST")
            input(type="email",placeholder="Enter your email adress...",name="formEmail",required=true)
            button(type="submit",class="button") Sign me up!
    // social-area
    .social-area
        ul
         li
           a(href="#") #[span.cz-facebook]
         li
           a(href="#") #[span.cz-twitter]
         li
           a(href="#") #[span.cz-instagram]
         li
           a(href="#") #[span.cz-google-plus]
         li
           a(href="#") #[span.cz-behance]
         li
           a(href="#") #[span.cz-dribbble]
         li
           a(href="#") #[span.cz-500px]
         li
           a(href="#") #[span.cz-github]
         li
           a(href="#") #[span.cz-codepen]
         li
           a(href="#") #[span.cz-linkedin]
    // copyright-area
    .copyright-area
        p &copy; HTML Version by #[a(href="http://github.com/eneserdogan") Enes Erdoğan] Wordpress Version by #[a(href="https://www.facebook.com/gokhankaraofficial") Gökhan Kara]
script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" type="text/javascript")
script(type='text/javascript').
    function LoadJs() {
        WebFont.load({
            google: {
                families: ['Roboto:400,300:latin-ext,latin,greek-ext,vietnamese,cyrillic-ext,greek,cyrillic']
            }
        });
        var element = document.createElement("script");
        element.src = "assets/js/app.min.js";
        document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", LoadJs, false);
    else if (window.attachEvent)
    window.attachEvent("onload", LoadJs);
    else window.onload = LoadJs;
