/**
 * ----------------------------------------------------------------------------------------
 * Main Styles
 * ----------------------------------------------------------------------------------------
 */

.container{
  position: relative;
  overflow: hidden;
  .content{
    margin: 0 auto;
    max-width: $container-max-width;
    width: 100%;
    &.main{
      @include padding(100px null 20px 20px);
      @media only screen and(max-width: $mobile-size){
        padding-left: 0;
      }
      @media only screen and(min-device-width: $mobile-size) and(max-device-width: $landscape-size ){
        padding-left: 0;
      }
    }
  }
}
