/**
 * ----------------------------------------------------------------------------------------
 * Variables Styles
 * ----------------------------------------------------------------------------------------
 */


// LAYOUT

$body-background-color     : #ffffff          !default;
$body-selection-color      : #101c38          !default;
$body-selection-bg-color   : #f1f1f1          !default;
$container-max-width       : 700px            !default;
$mobile-size               : 480px            !default;
$tablet-size               : 767px            !default;
$landscape-size            : 667px            !default;

// FONT

$primary-font              : 'Roboto'         !default;
$primary-font-type         : "sans-serif"     !default;
$icon-font-family          : "ciziCleanIcon"  !default;


// COLOR

$body-font-color           : #101c38          !default;
$body-font-size            : 20px             !default;
$body-font-weight          : 300              !default;
$body-line-height          : 1.70             !default;
$body-mark-color           : #E20771          !default;
$body-blockquote-color     : #000000          !default;
$footer-text-color         : #000000          !default;


// FORM COLOR

$footer-input-color        : #101c38          !default;
$footer-input-bg-color     : #000000          !default;
$footer-input-placeholder  : #909090          !default;
$footer-input-focus-color  : #101c38          !default;
$footer-input-focus-bg     : #101c38          !default;
$footer-button-color       : #000000          !default;
$footer-button-bg-color    : #000000          !default;

// LINK COLOR

$body-link-color           : #101c38          !default;
$body-link-hover-color     : #E20771          !default;


// SOCIAL COLOR

$github-color              : #333333          !default;
$twitter-color             : #00aced          !default;
$facebook-color            : #3b5998          !default;
$googleplus-color          : #dd4b39          !default;
$pinterest-color           : #cb2027          !default;
$linkedin-color            : #007bb6          !default;
$youtube-color             : #bb0000          !default;
$vimeo-color               : #aad450          !default;
$tumblr-color              : #32506d          !default;
$instagram-color           : #517fa4          !default;
$flickr-color              : #ff0084          !default;
$dribbble-color            : #ea4c89          !default;
$wordpress-colo            : #21759b          !default;
$soundcloud-color          : #ff3a00          !default;
$stack-overflow-color      : #F48024          !default;
$skype-color               : #2CADE3          !default;
$behance-color             : #007CFF          !default;
$reddit-color              : #95c4f3          !default;


// ICON FONT

$cz-font-path              : "../fonts/"      !default;
$cz-search                 : "\f002"          !default;
$cz-envelope-o             : "\f003"          !default;
$cz-twitter                : "\f099"          !default;
$cz-facebook               : "\f09a"          !default;
$cz-facebook-f             : "\f09a"          !default;
$cz-github                 : "\f09b"          !default;
$cz-google-plus            : "\f0d5"          !default;
$cz-linkedin               : "\f0e1"          !default;
$cz-github-alt             : "\f113"          !default;
$cz-youtube                : "\f167"          !default;
$cz-stack-overflow         : "\f16c"          !default;
$cz-instagram              : "\f16d"          !default;
$cz-skype                  : "\f17e"          !default;
$cz-behance                : "\f1b4"          !default;
$cz-soundcloud             : "\f1be"          !default;
$cz-reddit-alien           : "\f281"          !default;
